/*____ CSSForge ____*/
:root {
/*____ Colors ____*/
/* Palette */
--palette-coral-100: oklch(73.511% 0.16799 40.24666);
--palette-mint-100: oklch(80.035% 0.18206 151.71104);
--palette-indigo-100: oklch(51.057% 0.23005 276.96564);
/*____ Spacing ____*/
--spacing_fluid-base-3xs: clamp(0.0625rem, -0.0417rem + 0.5208vw, 0.375rem);
--spacing_fluid-base-2xs: clamp(0.125rem, -0.0833rem + 1.0417vw, 0.75rem);
--spacing_fluid-base-xs: clamp(0.1875rem, -0.125rem + 1.5625vw, 1.125rem);
--spacing_fluid-base-s: clamp(0.25rem, -0.1667rem + 2.0833vw, 1.5rem);
--spacing_fluid-base-m: clamp(0.375rem, -0.25rem + 3.125vw, 2.25rem);
--spacing_fluid-base-l: clamp(0.5rem, -0.3333rem + 4.1667vw, 3rem);
--spacing_fluid-base-xl: clamp(0.75rem, -0.5rem + 6.25vw, 4.5rem);
--spacing_fluid-base-2xl: clamp(1rem, -0.6667rem + 8.3333vw, 6rem);
--spacing_fluid-base-3xl: clamp(1.5rem, -1rem + 12.5vw, 9rem);
--spacing-size-1: 0.25rem;
--spacing-size-2: 0.5rem;
--spacing-size-3: 0.75rem;
--spacing-size-4: 1rem;
/*____ Typography ____*/
--typography_fluid-font-4xl: clamp(2.6703rem, 2.5608rem + 0.5474vw, 3.0518rem);
--typography_fluid-font-3xl: clamp(2.1362rem, 2.0486rem + 0.4379vw, 2.4414rem);
--typography_fluid-font-2xl: clamp(1.709rem, 1.6389rem + 0.3503vw, 1.9531rem);
--typography_fluid-font-xl: clamp(1.3672rem, 1.3111rem + 0.2803vw, 1.5625rem);
--typography_fluid-font-lg: clamp(1.0938rem, 1.0489rem + 0.2242vw, 1.25rem);
--typography_fluid-font-base: clamp(0.875rem, 0.8391rem + 0.1794vw, 1rem);
--typography_fluid-font-sm: clamp(0.7rem, 0.6713rem + 0.1435vw, 0.8rem);
--typography_fluid-font-xs: clamp(0.56rem, 0.537rem + 0.1148vw, 0.64rem);
--typography_fluid-font-2xs: clamp(0.448rem, 0.4296rem + 0.0918vw, 0.512rem);
}