name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  quality:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup toolchain
        uses: moonrepo/setup-toolchain@v0
        with:
          moon-version: "2.0.0"
          auto-install: true

      - name: Run CI
        run: moon ci
